[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Matemática 2 - Informática UNQ
Type=Link
URL=https://sites.google.com/view/matematica2unq
Icon=text-html
Name[es_AR]=Pagina Matemática 2 - Informática UNQ
