[Desktop Entry]
Encoding=UTF-8
Name=Enlazar a Estrategias de Persistencia
Type=Link
URL=https://sites.google.com/site/estrategiasdepersistencia/
Icon=text-html
Name[es_AR]=Estrategias de Persistencia
