[Desktop Entry]
Encoding=UTF-8
Name=Enlazar a Programación de Interfaces de Usuario
Type=Link
URL=https://sites.google.com/site/programacionui/
Icon=text-html
Name[es_AR]=Programación de Interfaces de Usuario
