[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia UNQUI - TIP - Home
Type=Link
URL=http://unq-tip.weebly.com/
Icon=text-html
Name[es_AR]=UNQUI - TIP - Home
