[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia pf-tpi-unq
Type=Link
URL=https://sites.google.com/site/pftpiunq/
Icon=text-html
Name[es_AR]=Programacion Funcional Pagina
